.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar{
  width: 100vw;
  height: 10vh;
  display: flex;
}

.nav-logo{
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.nav-logo-image{
  width: 15rem;
  height: 100%;
}

.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.links-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.2rem;
  list-style-type: none;
  text-decoration: underline;
}

.jumbotron{
  height: 100vh;
}

.projects {
  width: 100%;
  height: 30%;
  color: white;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;

}

.project-item {
  width: 25%;
  height: 25%;
  text-decoration: none;
}

.p-i {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

img {
  width: 90%;
  height: 100%;
  display: flex;
}
